<div class="form-group">
  <label class="control-label">Card Number</label>
  <input type="tel" name="card-number" placeholder="Card Number" class="form-control" required />
</div>
<div class="row">
  <div class="col-xs-12 col-md-6">
    <div class="form-group">
      <label class="control-label">Expiry Month</label>
      <input type="tel" name="exp-month" placeholder="MM" maxlength="2" class="form-control" required />
    </div>
  </div>
  <div class="col-xs-12 col-md-6">
    <div class="form-group">
      <label class="control-label">Expiry Year</label>
      <input type="tel" name="exp-year" placeholder="YY" maxlength="2" class="form-control" required />
    </div>
  </div>
</div>
<div class="form-group">
  <label class="control-label">CVC</label>
  <input type="tel" name="cvc" placeholder="CVC" maxlength="4" class="form-control" required />
</div>
