<div id="product-shipping-stats">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="form-group">
        <label class="control-label">Width</label>
        <input type="text" name="width" placeholder="inches" class="form-control" />
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="form-group">
        <label class="control-label">Height</label>
        <input type="text" name="height" placeholder="inches" class="form-control" />
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <div class="form-group">
        <label class="control-label">Length</label>
        <input type="text" name="length" placeholder="inches" class="form-control" />
      </div>
    </div>
    <div class="col-xs-12 col-md-6">
      <div class="form-group">
        <label class="control-label">Weight</label>
        <input type="text" name="weight" placeholder="lbs" class="form-control" />
      </div>
    </div>
  </div>
</div>
